ul {
    overflow: hidden;
    li {
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 10px;
        float: left;
        color: dodgerblue;
        list-style: none;
    }
}